<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo ReactJS</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
  </head>
  <style>
    .mauvang{background-color: yellow}
  </style>
  <body>
    <div id="root"></div>
    <script type="text/babel">
    ReactDOM.render(
    <div>
      <h1 className="mauvang">DemoReactJS</h1>
    </div>
      , document.getElementById("root"));
    </script>
  </body>
</html>
